[Desktop Entry]
Type=Application
Name=Gridge
Comment=Add streaming sites and cloud gaming services as Steam shortcuts
Exec=gridge
Icon=io.github.ScarletPachydermDev.Gridge
Terminal=false
Categories=Utility;Network;
